<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926534351827-oohkrgppqmt1cpi0phbjded1fnhnjp80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926534351827-oohkrgppqmt1cpi0phbjded1fnhnjp80</string>
	<key>API_KEY</key>
	<string>AIzaSyBjSVghCDa-C8a9iuKuoBewnL0Tjg6qU6g</string>
	<key>GCM_SENDER_ID</key>
	<string>926534351827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterkage2k.foodfirebase221210</string>
	<key>PROJECT_ID</key>
	<string>personalfirebasecrud</string>
	<key>STORAGE_BUCKET</key>
	<string>personalfirebasecrud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926534351827:ios:629d55ce33437d99444d26</string>
</dict>
</plist>